/extract/frs/csv/*.pdf
/extract/frs/csv/*.CSV
/extract/rcrainfo/csv/*.zip
/extract/tri/csv/*.csv
/transform/waste_tracking/csv/on_site_tracking/*.csv
!transform/waste_tracking/csv/on_site_tracking/Conditions_of_use_by_facility_and_chemical_*.csv
/transform/waste_tracking/csv/off_site_tracking/*.csv
**/__pycache__/
*.pyc
/transform/pau4chem/statistics/db_for_general/*.csv
/transform/pau4chem/datasets/intermediate_pau_datasets/*.csv
